<div class="container-fluid">
    <nav class="navbar navbar-default" style="margin-top: 5px;">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand"  href=""> Extrack </a>
          </div>

          <div>
              <ul class="nav navbar-nav navbar-right">
                <li><button class="btn btn-primary"  routerLink="/prevmemo" (click)="onget()" style="margin-top: 7px;margin-right: 10px;"> Older-Memo </button> </li>
                <li><button class="btn btn-primary"  routerLink="/upcoming"  style="margin-top: 7px;margin-right: 10px;">Upcoming</button></li>
                  <li><button class="btn btn-primary" routerLink="/edit" style="margin-top: 7px;margin-right: 10px;"> Editor</button></li>
                  <li> <a href=""routerLink="/logout" style="margin-left: 30px;"> Logout </a>  </li>
                </ul>
              </div>
                </div>
      </nav>
          </div>


