.jumbotron {
    
        background-image:url(https://wallpaperscraft.com/image/dark_black_and_white_abstract_black_background_76353_2048x1152.jpg);
        width: 1100px;
        height: 200px;
        margin-top: 10px;	
        border-radius: 30px;
      
        
    }